.goal-point {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--dui-spacing-small);

    .icon {
        opacity: 0.5;
        color: var(--dui-color-brand);
        font-size: var(--dui-font-size-mega-large);
    }

    .goal-description {
        text-align: center;
        font-size: var(--dui-font-size-medium);
    }
}

.home {
    .page-content {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--dui-spacing-extra-large);
        gap: var(--dui-spacing-extra-large);

        .cover-image-container {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-end;
            background-color: #f0f0f0;
            width: 100%;
            height: 60vh;
            overflow: hidden;

            .cover-image {
                opacity: 0.3;
                padding: 10vh 10vh 0 10vh;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center right;
            }

            .top-layer {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background-color: transparent;
                width: 100%;
                height: 100%;
                gap: var(--dui-spacing-extra-large);

                .app-name {
                    display: flex;
                    align-items: space-between;
                    flex-direction: column;
                    padding: 0 var(--dui-spacing-large);
                    width: 100%;
                    max-width: var(--kitab-page-max-width);
                    line-height: 1;
                    color: var(--dui-color-primary);

                    .kitab {
                        text-transform: uppercase;
                        font-size: 10rem;
                        font-weight: var(--dui-font-weight-bold);
                    }

                    .bazar {
                        font-size: 6rem;
                    }
                }

                .app-description {
                    padding: 0 var(--dui-spacing-large);
                    width: 100%;
                    max-width: var(--kitab-page-max-width);
                    color: var(--dui-color-text-label);
                    font-size: var(--dui-font-size-extra-large);
                    font-weight: var(--dui-font-weight-bold);
                }

                .actions {
                    padding: 0 var(--dui-spacing-large);
                    width: 100%;
                    max-width: var(--kitab-page-max-width);
                    color: var(--dui-color-text-label);
                }
            }

            @media(max-width: 1200px) {
                .cover-image {
                    display: none;
                }

                .top-layer {
                    background: unset;
                }
            }
        }

        .page-container {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 100%;
            max-width: var(--kitab-page-max-width);

            .description {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-medium);
                margin-top: var(--dui-spacing-large);

                * {
                    overflow: unset;
                }

                .platform-background {
                    background-color: unset;
                    padding: var(--dui-spacing-large);
                }

                .who-are-we {
                    background-color: unset;
                    padding: var(--dui-spacing-large);
                }

                .goals {
                    background-color: unset;
                    padding: var(--dui-spacing-large);
                }

                .goal-points {
                    background-color: unset;
                    padding: var(--dui-spacing-large);

                    .goal-point-list {
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        gap: var(--dui-spacing-large);

                        .goal-point {
                            flex-basis: calc(25% - var(--dui-spacing-large));
                        }
                    }
                }
            }

            .featured-books-section {
                flex-basis: 20rem;
                background-color: unset;
                padding: var(--dui-spacing-large);
                overflow: unset;

                .book-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: var(--dui-spacing-large);
                    gap: var(--dui-spacing-extra-large);
                }
            }
        }
    }
}

