.home {
    .page-content {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-extra-large);

        .cover-image-container {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-end;
            background-color: #f0f0f0;
            width: 100%;
            height: 72vh;
            overflow: hidden;

            .cover-image {
                width: 50%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }

            .top-layer {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                justify-content: center;
                gap: var(--dui-spacing-extra-large);
                background: linear-gradient(90deg, rgba(80, 160, 100, 1) 0%, rgba(80, 160, 100, 1) 50%, rgba(80, 160, 100, .6) 65%, rgba(255, 255, 255, .2) 100%);
                background-color: transparent;
                width: 100%;
                height: 100%;

                .app-name {
                    display: flex;
                    align-items: space-between;
                    flex-direction: column;
                    padding-left: 10vw;
                    line-height: 1;
                    color: var(--dui-color-primary);

                    .kitab {
                        text-transform: uppercase;
                        font-size: 10rem;
                        font-weight: var(--dui-font-weight-bold);
                    }

                    .bazar {
                        font-size: 6rem;
                    }
                }

                .app-description {
                    padding-left: 10vw;
                    color: var(--dui-color-text-label);
                    font-size: var(--dui-font-size-extra-large);
                    font-weight: var(--dui-font-weight-bold);
                }
            }
        }

        .featured-books-section {
            margin: auto;
            background-color: unset;
            padding: var(--dui-spacing-large);
            width: 100%;
            max-width: 1400px;

            .book-list {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-medium);
                margin-top: var(--dui-spacing-large);

                .book-item {
                    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                    cursor: pointer;

                    .image-wrapper {
                        overflow: hidden;

                        .image {
                            transition: 10s transform linear;
                            width: 15rem;
                            height: 20rem;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }

                    .details {
                        padding: var(--dui-spacing-medium);

                        .title {
                            color: var(--dui-color-primary);
                            font-size: var(--dui-font-size-extra-large);
                            font-weight: var(--dui-font-weight-bold);
                        }
                    }

                    &:hover {
                        border-color: var(--dui-color-accent);

                        .image {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }

    .filter {
        display: flex;
        gap: var(--dui-spacing-medium);
        justify-content: flex-end;
    }

}
