.grade-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-decoration: none;
    color: var(--dui-color-brand);

    .link {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);

        .preview {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            opacity: 0.3;
            font-size: 10rem;
        }

        .description {
            flex-shrink: 0;
            font-weight: var(--dui-font-weight-bold);
        }
    }
}
