.wish-list {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    .container {
        display: flex;
        flex-direction: column;
        min-width: 720px;
        max-width: 1200px;
        overflow: auto;
        gap: var(--dui-spacing-extra-large);

        .content {
            display: flex;
            gap: var(--dui-spacing-small);

            .image-container {
                .image {
                    width: 56px;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-small);
            }
        }
    }
}
