.cart-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dui-foreground);
    padding: var(--dui-spacing-large);

    .container {
        width: 100%;
        max-width: var(--kitab-page-max-width);

        .page-heading {
            padding: var(--dui-spacing-medium);
        }

        .content {
            display: flex;
            align-items: flex-start;

            .list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: var(--dui-spacing-medium);
                gap: var(--dui-spacing-super-large);

                &.empty {
                    align-items: center;
                    justify-content: center;
                }

                .is-selected-checkbox {
                    font-size: var(--dui-font-size-super-large);
                }

                .cart-item {
                    display: flex;
                    align-items: flex-start;
                    gap: var(--dui-spacing-large);

                    .image-container {
                        display: flex;
                        align-items: center;

                        .image {
                            margin: 0;
                            padding: 0;
                            height: 8rem;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }

                    .details {
                        .title {
                            font-size: var(--dui-font-size-extra-large);
                        }

                        .quantity-input {
                            width: 5rem;
                        }
                    }
                }
            }

            .empty-message {
                display: flex;
                align-items: center;
                flex-basis: 100%;
                flex-direction: column;
                justify-content: center;
                padding-top: 8vh;

                .icon {
                    opacity: 0.2;
                    font-size: 15rem;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: var(--dui-spacing-small);

                    .primary {
                        opacity: 0.7;
                        font-size: var(--dui-font-size-extra-large);
                        font-weight: var(--dui-font-weight-bold);
                    }

                    .suggestion {
                        opacity: 0.5;
                    }
                }
            }

            .summary {
                width: 100%;
                max-width: 30rem;

                .summary-content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-small);

                    .actions {
                        padding-top: var(--dui-spacing-medium);
                    }
                }
            }
        }
    }
}
