.orders-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--dui-spacing-large);

    .summary {
        display: flex;
        gap: var(--dui-spacing-medium);

        .book-selected {
            display: flex;
            gap: var(--dui-spacing-small);
        }
    }

    &.hidden {
        animation: disappear-to-bottom .2s ease-in forwards;
    }
}

@keyframes disappear-to-bottom {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}
