.order-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: unset;

    .orders{
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .order-item {
            display: flex;
            border: unset;

            .book-list {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);

                .book-item {
                    display: flex;
                    gap: var(--dui-spacing-medium);

                    .cover-image {
                        display: flex;
                        position: relative;
                        align-items: center;
                        flex-shrink: 0;
                        background-color: var(--dui-color-background);
                        width: 150px;
                        height: 200px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .description {
                        display: flex;
                        align-self: flex-end;
                        flex-direction: column;
                    }
                }
            }
        }

    }
}
