.reports {
    display: flex;
    flex-grow: 1;
    margin-top: 5px;
    background-color: unset;

    .filters {
        display: flex;
        gap: var(--dui-spacing-large);

        .filter-input {
            max-width: 10rem;
        }

        .filter-input-medium {
            max-width: 25rem;
        }
    }

    .information-card-wrapper {
        display: flex;
        justify-content: start;
        gap: var(--dui-spacing-large);
        margin-bottom: 2rem;

        .information-card {
            max-width: 30rem;
            height: 6rem;
        }
    }

    .wrapper {
        display: flex;
        justify-content: start;
        margin-top: 3rem;
        margin-bottom: 2rem;
        gap: var(--dui-spacing-super-large);
    }

    .data-visualizations {
        width: 30rem;
        height: 30rem;
        text-align: center;
    }

}