.footer {
    background-color: grey;
    width: 100%;
    height: 25vh;

    .footer-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: var(--dui-spacing-medium);
        gap: var(--dui-spacing-medium);
    }
}
