.payments-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: unset;
    gap: var(--dui-spacing-large);

    .payments-status {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--dui-spacing-large);

        .value {
            color: var(--dui-color-brand);
            font-size: var(--dui-font-size-large);
        }
    }
    .payments {
        display: flex;
        flex-grow: 1;
        background-color: unset;

        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: var(--dui-spacing-large);

            .filter-input {
                max-width: 12rem;
            }
        }

        .institution-payment-list {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-medium);
        }

        .pager {
            [class*="styles_items-per-page"] {
                [class*="styles_input"] {
                    width: 10rem;
                }
            }
        }
    }

}
