.ebook {
    display: flex;
    align-items: stretch;
    align-items: center;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    border-radius: var(--dui-radius-border-medium);
    background-color: var(--dui-color-foreground);
    width: 100%;
    max-width: var(--kitab-page-max-width);

    .display-picture {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--dui-spacing-small) var(--dui-spacing-extra-small);
        background: var(--color-foreground);
        width: 10em;
        height: 10em;
    }
    .link-content{
        margin: auto 30%;
        .details {
            display: flex;
            align-items:center;
            background-color: unset;
        }
        .content {
            display: flex;
            align-items: center;
            .button{
                min-width: fit-content;
                .fallback-icon {
                    flex-shrink: 0;
                    font-size: var(--dui-font-size-large);
                }
            }
        }
    }
}