.book-detail {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        padding: var(--dui-spacing-extra-large);
        width: 100%;
        max-width: var(--kitab-page-max-width);
        overflow: auto;

        .book-detail {
            display: flex;
            gap: var(--dui-spacing-extra-large);

            .left-column {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-medium);

                .preview {
                    width: 20rem;
                    height: auto;

                    .image {
                        width: 100%;
                        height: 100%;
                        object-position: top center;
                        object-fit: cover;
                    }
                }

                .actions {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: var(--dui-spacing-medium);

                    .price-preview,
                    .total-preview,
                    .quantity-input {
                        width: 5rem;
                    }

                    .primary-action {
                        display: flex;
                        align-items: flex-end;
                        gap: var(--dui-spacing-small);
                    }

                    .other-actions {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        gap: var(--dui-spacing-medium);
                    }
                }
            }

            .right-column {
                flex-grow: 1;
            }
        }

        .meta-data {
            display: flex;
            height: 20rem;
            overflow: auto;

            .details {
                flex-grow: 1;
                overflow: auto;

                .header-description {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-small);
                }
            }
        }

        .other-details {
            .book-content-preview {
                padding: var(--dui-spacing-large);
            }
        }
    }

    .no-detail {
        padding: var(--dui-spacing-medium);
    }
}
