.order-item {
    background-color: unset;
    padding: var(--dui-spacing-medium) 0;

    .heading {
        font-weight: var(--dui-font-weight-medium);
    }

    .order-meta {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-small);
    }
}
