:root {
    --dui-color-primary: #383d46;
    --dui-color-accent: #00adb5;
    --dui-color-background: #eeeeee;
    --dui-color-text: #222730;
    --dui-font-family-sans-serif: 'Laila', sans-serif;
    --dui-color-background-hover-primary-button: #0098a6;
}
.base {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-size: var(--dui-font-size-medium);

    .navbar {
        flex-shrink: 0;

        &.hidden {
            display: none;
        }
    }

    .view,
    .init {
        flex-grow: 1;
        overflow: auto;
    }

    .alert-container {
        position: fixed;
        top: var(--dui-spacing-large);
        right: var(--dui-spacing-large);
        z-index: 1;
        width: 20rem;
    }
}
