:root {
    --dui-font-weight-light: 400;
    --dui-font-weight-medium: 400;
    --dui-font-weight-bold: 700;
    --dui-color-primary: #122344;
    --dui-color-brand: #122344;
    --dui-color-accent: #00adb5;
    --dui-color-background: #f3f3f3;
    --dui-color-text: #414141;
    --dui-font-family-sans-serif: 'PT Sans', 'Noto Serif Devanagari', sans-serif;
    --dui-color-background-hover-primary-button: #0098a6;

    --dui-font-size-extra-small: 0.7rem;
    --dui-font-size-small: 0.8rem;
    --dui-font-size-medium: 1rem;
    --dui-font-size-large: 1.2rem;
    --dui-font-size-extra-large: 1.5rem;
    --dui-font-size-super-large: 2rem;

    --kitab-page-max-width: 76rem;

}

.base {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    &.ne {
        line-height: 1.25;
    }

    .preload {
        flex-grow: 1;
    }

    .navbar {
        flex-shrink: 0;

        &.hidden {
            display: none;
        }
    }

    .view {
        flex-grow: 1;
    }

    .footer {
        flex-shrink: 0;
    }

    .alert-container {
        position: fixed;
        right: var(--dui-spacing-large);
        bottom: var(--dui-spacing-large);
        z-index: 1;
        width: 20rem;
    }
}
