.login-form {
    display: flex;
    flex-grow: 1;

    .login-form-container {
        background-color: unset;
        width: 100%;

        .input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: var(--dui-spacing-large);
        }
        .submit {
            align-self: flex-end;
        }
        .footer {
            display: flex;
            justify-content: center;
            border-top: 1px solid var(--dui-color-background);
            padding-top: var(--dui-spacing-medium);
            width: 100%;

            .register-link {
                padding: unset;
                color: var(--dui-color-accent);
            }
        }
    }
}

