.filter {
    display: flex;
    justify-content: flex-end;
    .input {
        margin: 0 5% 1% 2%;
    }
}

.page-content {
    gap: var(--dui-spacing-extra-large);
    margin: 0 5% 5% 5%;

    .cover-image {
        background-color: grey;
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
    .book-section {
        display: flex;
        align-content: space-between;
        width: 100%;

        .book-list {
            box-sizing: border-box;
            transition: all 0.5s ease;
            object-fit: cover;
            margin: 3% 0 0 4%;
            -webkit-box-shadow: 5px 3px 20px 1px rgba(117, 116, 117, 1);
            -moz-box-shadow: 5px 3px 20px 1px rgba(117, 116, 117, 1);
            box-shadow: 5px 3px 20px 1px rgba(117, 116, 117, 1);
            width: 20%;

            &:hover {
                transform: scale(1.1);
            }

            .book-img {
                width: 100%;
                height: 35vh;
            }
            .book-label {
                align-items: center;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .main-content {
        flex-grow: 1;
    }

    .right-side-content {
        flex-basis: calc(200px + 10vw);
        flex-grow: 0;
        flex-shrink: 0;
    }
}
