.book-item {
    --book-item-width: 15rem;
    --book-item-height: 20rem;
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    cursor: pointer;
    width: var(--book-item-width);
    text-decoration: none;

    .image-wrapper {
        width: 100%;
        height: var(--book-item-height);
        overflow: hidden;

        .image {
            transition: 10s transform linear;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }

        .no-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--dui-spacing-medium);
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .details {
        padding: var(--dui-spacing-medium);
        width: 100%;
        color: var(--dui-color-text);

        .title {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--dui-color-primary);
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }

        .author {
            margin-bottom: var(--dui-spacing-small);
        }

        .price {
            font-size: var(--dui-font-size-medium);
            font-weight: var(--dui-font-weight-bold);
        }
    }

    &:hover {
        border-color: var(--dui-color-accent);

        .image {
            transform: scale(1.3);
        }
    }
}
