.explore {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--dui-color-background);
        width: 100%;

        .page-header {
            padding: var(--dui-spacing-super-large) var(--dui-spacing-extra-large);
            width: 100%;
            max-width: var(--kitab-page-max-width);

            .search-input {
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        padding: var(--dui-spacing-extra-large);
        width: 100%;
        max-width: var(--kitab-page-max-width);
        gap: var(--dui-spacing-large);

        .side-bar {
            display: flex;
            flex-basis: 18rem;
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--dui-spacing-extra-large) 0;
            gap: var(--dui-spacing-large);

            .grade-input {
                .grade-list {
                    display: flex;
                    flex-direction: column;
                }
            }

            .language-input {
                .language-list {
                    display: flex;
                    flex-direction: column;
                }
            }

            .publisher-input {
                .publisher-list {
                    display: flex;
                    flex-direction: column;
                }
            }

            .categories-input {
                .category-list {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .book-list-section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--dui-spacing-extra-large) 0;
            gap: var(--dui-spacing-large);

            .summary {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: var(--dui-spacing-medium);

                .heading {
                    display: flex;
                    gap: var(--dui-spacing-small);
                }
            }

            .book-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: var(--dui-spacing-extra-large) 0;
                gap: var(--dui-spacing-medium);
            }
        }

        @media(max-width: 900px) {
            .side-bar {
                flex-basis: 14rem;
            }
        }

        @media(max-width: 720px) {
            flex-wrap: wrap;

            .side-bar {
                flex-basis: 100%;

                .grade-input {
                    .grade-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }

                .language-input {
                    .language-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }

                .publisher-input {
                    .publisher-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }

                .categories-input {
                    .category-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
