.explore {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--dui-color-background);
        width: 100%;

        .page-header {
            padding: var(--dui-spacing-extra-large);
            width: 100%;
            max-width: var(--kitab-page-max-width);

            .search-input {
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        padding: var(--dui-spacing-extra-large);
        width: 100%;
        max-width: var(--kitab-page-max-width);

        .side-bar {
            display: flex;
            flex-basis: 20rem;
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--dui-spacing-extra-large) 0;
            gap: var(--dui-spacing-extra-large);

            .publisher-input {
                .publisher-list {
                    display: flex;
                    flex-direction: column;
                }
            }

            .categories-input {
                .category-list {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .book-list-section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--dui-spacing-extra-large) 0;
            gap: var(--dui-spacing-large);

            .summary {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: var(--dui-spacing-medium);
                justify-content: space-between;

                .book-count {
                    font-size: var(--dui-font-size-large);
                }
            }

            .book-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: var(--dui-spacing-extra-large) 0;
                gap: var(--dui-spacing-medium);
            }
        }
    }
}
