.register {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--dui-spacing-large);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-gutter: stable;

    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        overflow: auto;

        .left {
            display: flex;
            align-items: center;
            flex-basis: 40%;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            padding: var(--dui-spacing-medium);
            height: auto;

            .app-name {
                padding: var(--dui-spacing-medium);
                text-transform: uppercase;
                color: var(--dui-color-accent);
                font-size: var(--dui-font-size-super-large);
                font-weight: var(--dui-font-weight-bold);
            }
        }

        .right {
            display: flex;
            flex-basis: 60%;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
