.register-form {
    background-color: unset;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--dui-spacing-extra-large);
    }

    .register-button {
        align-self: flex-end;
    }

    .footer-content {
        display: inline;

        .login-link {
            display: inline;
            padding: unset;
            color: var(--dui-color-accent);

            >* {
                display: inline;
            }
        }
    }
}
