.register-form {
    background-color: unset;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--dui-spacing-extra-large);
    }
}
