.modal-backdrop {
    align-items: stretch;
    justify-content: flex-end;

    .orders-modal {
        border-radius: unset;
        height: 100%;
        max-height: unset;
        animation: appear-from-right .3s ease-in forwards;

        .cart-item-list {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-small);
        }
    }
}

@keyframes appear-from-right {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.order-success-modal {
    max-width: 28rem;
    height: 100%!important;
    max-height: 32rem;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--dui-spacing-extra-large);
        padding: var(--dui-spacing-extra-large);

        .logo {
            width: 6rem;
            height: 6rem;
            object-fit: contain;
        }

        .success-message {
            align-items: center;
            text-align: center;
            color: var(--dui-color-brand);
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }

        .order-details {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-small);
        }

        .help-text {
            text-align: center;
        }
    }

    .footer {
        justify-content: center;
    }
}
